
{% extends "layout_SE.html" %}

{% block pageTitle %}
  Welcome
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Welcome to this new blog
      </h1>

      <p>This is the Scottish Enterprise Service Design blog</p>

      <h1 class="govuk-heading-l">
          Design in the open
      </h1>

      <ul class="govuk-list govuk-list--number">
          <li>the idea of this site is to foster a culture of designing in open and transparent collaboration, with partners and customers</li>
          <li>we also want to share how we work and hope that this helps others with their projects</li>
          <li>at the same time we are super keen to hear where we could improve. It’s a two way street :-)</li>
      </ul>
      
      <p style="color: #666"><em>Written on July 5, 2019</em></p>
    </div>
</div>

{% endblock %}
