
{% extends "layout_SE.html" %}

{% block pageTitle %}
  Scottish Enterprise - Design in the open
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Workstreams
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/workstreams/sep/homepage">Single Entry Point (SEP)</a></li>
        <li><a href="/workstreams/myAccount/homepage">My Account and ID Verification</a></li>
        <li><a href="/workstreams/fas/homepage">Funding and Support</a></li>
      </ul>

      <h1 class="govuk-heading-m">
        Learning, resources and techniques
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://scotentsd.github.io/practice/">Practice and Techniques</a></li>
        <li><a href="https://scotentsd.github.io/posters/">posters</a></li>
        <li><a href="https://scotentsd.github.io/insights/">Insights</a></li>
        <li><a href="https://scotentsd.github.io/personas/">Personas</a></li>
      </ul>


    </div>
</div>

{% endblock %}
