{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/se.ico?0.18.3" type="image/x-icon" /> <!-- this is where you change the code to use a different favicon -->
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
<!-- add your own stylesheet -->
  <link href="/public/stylesheets/SE.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<!-- added code below for branded header -->
<header class="govuk-header" role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">

      <div class="govuk-header__logo">
        <span class="govuk-header__logotype" >
          <a href="/index.html"><image src="{{ asset_path }}/images/saltire.png" alt="Saltire flag customised" width="70" style="padding-top: 20px"></image></a>
        </span>
      </div>

      <div class="govuk-header__title">
          <span>Service Design</span>
          <p>Designing in the open</p>
        </div>
  
      <div class="govuk-header__content">
      <!-- the code below is for navigation links in the header -->
        <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
        <nav>
          <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/navigation/blog">Blog</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/navigation/about">About</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/navigation/help">Help</a>
              </li>
          </ul>
        </nav>
      </div>

    </div>
  </header>
{% endblock %}

{% block footer %}
<!-- added code below for branded footer -->
<footer class="govuk-footer" role="contentinfo">
    <div>
      <a href="http://bradfrost.com/blog/post/designing-in-the-open/"><img alt="Design in the open logo" src="{{ asset_path }}/images/designintheopen.png" style="width:200px;"></a>
      <br>
      <a href="https://github.com/scotentSD"><i class="svg-icon github"></i></a>
    </div>
</footer>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
