
{% extends "layout_SE.html" %}

{% block pageTitle %}
  About
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        About
      </h1>

      <p>
          This is the home of Service Design in Scottish Enterprise. It is here to make us more transparent and to help the sharing of information, practice and learning.<br>
          We are keen to share how and what we are doing. Copy what you want and tell us if you know better ways of doing stuff :-)<br>
          There are areas for various Workstreams which will deep dive into their Research & Design.<br>
          There is also a <a href="/navigation/blog">blog</a> that will cover a lot of the ongoing learning
      </p>
      
    </div>
</div>

{% endblock %}
